@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

#container {
    width: 100%;
    overflow-x: scroll;
    background-color: #F8F9FA;
    margin:0;
    padding: 0;
}

#question {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 0px;
    color: #343A40;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

#optionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
     
}

#optionStack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    width: 250px;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;

    cursor: pointer;
}

#optionAnswer {
    color: #343A40;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

#optionInfo {
    color: #343A40;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

#greenCircle {
    background-color: #5B794E;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    #optionContainer {
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: center;
        overflow-x: scroll;
    }
}