#container {
    display: flex;
    height: 26px;
    margin: 0;
    padding: 0;
}

#box {
    height: 26px;
    width: 26px;
    background-color: black;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

#disabled {
    height: 26px;
    width: 26px;
    background-color: #A0A0A0;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#box:hover {
    background-color: #F6893C;
}